<%- include('../partials/header') %>
<h1>recipes</h1>

<%recipes.forEach(recipe => { %> <%=recipe.description%> <%=recipe.instruction%>
<%=recipe.meal%> <% }); %> <%- include('../partials/footer') %>
