<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pusta Strona</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body data-bs-theme="dark">
    <div class="container h-100">
      <%- include('../partials/header') %>

      <h1 style="margin-top: -30px;" class="text-center"><%=recipe.description%></h1>
      <h6 style="margin-bottom: -40px;" class="text-center">Czas przygotowania: <%=recipe.making_time%> minut</h6>
      <div class="row py-lg-5">
        <div class="d-flex justify-content-center">
          <% if (photo) { %>
            <img
              src="<%= photo %>"
              alt="Nie można wyświetlić zdjęcia!"
              style="
                height: 500px;
                display: block;
                border-radius: 10px;"
            />
          <% } else { %>
            <p style="color: white; text-align: center;">Brak zdjęcia w bazie danych</p>
          <% } %>
        </div>
      </div>
      
      <h1 style="margin-top: -30px;" class="text-center">Składniki</h1>
      <div style="margin-top: 0px;" class="d-flex justify-content-center">
        <table class="table table-dark table-borderless text-center" style="width: 65%; margin-top: 8px;">
            <thead>
              <tr>
                <th scope="col" class="px-2 py-1">#</th>
                <th scope="col" class="px-2 py-1">Nazwa składnika</th>
                <th scope="col" class="px-2 py-1">Ilość</th>
                <th scope="col" class="px-2 py-1">Jednostka</th>
              </tr>
            </thead>
            <tbody>
              <% ingredients.forEach((ingredient, index) => { %>
                <tr>
                  <th scope="row" class="px-2 py-1"><%= index + 1 %></th>
                  <td class="px-2 py-1"><%= ingredient.ingredient_name %></td>
                  <td class="px-2 py-1"><%= ingredient.quantity %></td>
                  <td class="px-2 py-1"><%= ingredient.unit %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
      </div>

      <h1 style="margin-top: -30px;" class="text-center">Instrukcje</h1>
      <div class="text-center bg-dark text-light p-3 rounded" style="width: 65%; margin-top: -15px;">
        <p style="font-size: 18px"><%= recipe.instruction %></p>
      </div>
      
      
    
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
